/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   :root {
    --soltorg-gul: #FFdb00;
    --soltorg-mörkgul: #FFD239;
    --better-white: #fffbe8; /*#fffbe3;*/
   }

   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: 'Actor', sans-serif; */
    font-family: 'Alegreya Sans SC', sans-serif;

   }

   html {
    background-color: var(--better-white);
   }

   body {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr auto 20vh;
   }

   header {
    font-weight: 500;
    font-size: 150%;
   }

   header .mid-row {
    background-color: var(--soltorg-mörkgul);
    width: 100%;
    max-height: 15vh;
   }

   header .mid-row img {
    max-height: inherit;

   }

   header .mid-row nav {
    display: grid;
    grid-template-columns: auto 4fr 1fr;
    align-items: center;

    gap: 5vh;

    max-height: inherit;
    grid-column: 2 / 3;

   }

   header .list {
    display: flex;
    list-style: none;
    gap: 1vw;
    
   }

   header .bottom-row {
    background-color: var(--soltorg-gul);
    width: 100%;
    height: 8vh;
    border-top: var(--better-white) solid 2px;

   }

   header .bottom-row nav {
    grid-column: 2 / 3;
    align-self: center;
    color: black;
   }

   header .bottom-row .list {
    justify-content: space-around;
   }

   header .top-row {
    background-color: var(--better-white);
    width: 100%;
    height: 3vh;
   }

   header .top-row nav {

    gap: 10vh;

    grid-column: 2 / 3;
   }

   header,
   .mid-row,
   .sub,
   .top-row {
    grid-column: span 3;
   }

   header > * {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

   }


   div.background {
    margin-block: 5vh;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
   }

   div.background img {
    max-width: 100%;
    height: auto;
    width: auto\9;
   }

   main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    min-height: 500px;
    max-height: auto;

    background-color: pink;

    grid-column: 2 / 3;
    grid-row: 3 / 4;

   }

   main > article {
    grid-column: span 4;
    width: 70%;
    /* background-color: #999; */
    justify-self: center;
    text-align: justify;
   }

   main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    grid-column: span 4;
   }

   main > div div {
    min-height: 200px;
    width: 300px;
    text-align: center;
    align-content: center;
    margin-inline: 2vw;

  }

   footer {
    background-color:#f7f2d9;
    margin-top: 5vh;
    grid-row: 4 / 4;
    grid-column: span 3;

   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

