/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  line-height: 1.4;
  font-size: 1em;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  text-shadow: none;

  background: #b3d4fc;
}

::selection {
  text-shadow: none;

  background: #b3d4fc;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;

  border: 0;
  border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  padding: 0;
  margin: 0;

  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   :root {
    --soltorg-gul: #FFdb00;
    --soltorg-mörkgul: #FFD239;
    --better-white: #fffbe8;
    --accent: #eebf4e;
    --accent-border: var(--accent) solid 0px;
    --darken: #8d73000c;
    --loading: grey;
    --html: #fcf9ee;
    --main: #f5ecc9;
    --footer: #302f2d;
    --desktop-width: 1200px;
   }

   * {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    color: #222;
    font-family: 'Alegreya Sans SC', sans-serif;
   }

   html {
    font-size: 16px;

    background-color: var(--html);
   }

   body {
    padding-inline: 3vw;
   }

   a {
    text-decoration: none;
   }


   header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 6rem 3rem;
    margin-inline: -3vw;
   }

   header nav {
    align-items: center;
    align-content: center;
    max-width: var(--desktop-width);
    min-height: 100%;
    margin-inline: auto;
   }

   header nav ol {
    display: flex;
    gap: 0.5em;

    list-style: none;
   }

   header .top-row {
    grid-area: 1 / 1 / 1 / 4;
   }
   header .mid-row {
    grid-area: 2 / 1 / 3 / 4;

    background-color: var(--soltorg-gul);
   }
   header .bottom-row {
    grid-area: 3 / 1 / 4 / 4;

    border-top: var(--html) solid 1px;
    background-color: var(--soltorg-mörkgul);
   }

   header .top-row nav {
    font-size: 1.2rem;
   }
   header .mid-row nav {
    display: flex;
    justify-content: space-between;

    font-size: 1.8rem;

    /* background-color: brown; */
   }
   header .bottom-row nav {
    font-size: 1.4rem;
   }

   header .mid-row picture {
    min-width: 5rem;
    max-width: 5rem;
   }
   header .mid-row picture img {
    display: block;
    max-width: 100%;
   }

   
   header .mid-row #desktop-menu{
   }
   header .bottom-row nav ol{
    justify-content: space-around;
   }

   #mobile-menu {
    display: none;
   }
   #mobile-menu button {
    padding: 10px;

    background-color: hsla(0, 0%, 55%, 0);
    border: none;
   }
   #mobile-menu button:hover {
    background-color: hwb(0 55% 45% / 0.137);
   }

   #dropdown {
    display: none;
    justify-items: center;
    min-height: 500px;
    padding: 6vw 3vw;
    margin-inline: -3vw;

    background-color: var(--soltorg-mörkgul);
    border-top: rgb(255, 255, 255) solid 1px;
   }
   #dropdown a {
    display: block;
    padding-left: 5%;
    padding-block: 0.5em;
    margin-inline: auto;

    font-size: 2rem;

    border-bottom: black solid 1px;
   }
   #dropdown a:hover {
    background-color: hwb(0 55% 45% / 0.137);
   }
   
   ol {
    list-style: none;
   }


   
   section.background {
    max-width: var(--desktop-width);
    margin-top: 3vh;
    margin-inline: auto;

    aspect-ratio: 14/6;
   }

   section.background img {
    display: block;
    max-width: 100%;
   }




  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    max-width: var(--desktop-width);
    min-height: 500px;
    padding-inline: 1vw;;
    margin-inline: auto;
    margin-block: 3vh;

    row-gap: 10vh;
    background-color: var(--main);
  }
  main > * {
    grid-column: span 4;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  main,
  section.background img,
  main .buttons > div,
  main .misc,
  main .video {
    overflow: hidden;

    border-radius: 0.2rem;
  }
  main .info,
  main .kontakter {
    margin-inline: -1vw;

    font-size: 2rem;

    background-color: var(--darken);
  }


  main .info {
    justify-self: center;
    align-self: center;
    padding: 2vw;
  }
  main .buttons {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
  main .buttons > div {
    flex: 1;

    border: var(--accent-border);
    background-color: var(--accent);
  }
  main .buttons > div > picture {
    overflow: hidden;

    background-color: var(--loading);
    aspect-ratio: 2 / 1;
  }
  main .buttons h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-inline: 0.5rem;

    border-top: var(--html) solid 3px;
  }
  main .buttons img{
    display: block;
    width: 100%;
    margin: auto;
  }



  main .media {
    display: grid;
    gap: 2rem;
    grid-template-columns: 4fr 2fr;
    grid-row: 3 / 4;
  }
  main iframe {
    border: none;
  }
  main .video {
    align-self: center;
    grid-column: 1 / 2;

    border: var(--accent-border);
    background-color: var(--accent);
  }

  main .video iframe {
    min-width: 100%;
    min-height: 100%;

    aspect-ratio: 16/9; 
    border-top: var(--html) solid 3px;
  }

  main .misc {
    grid-column: 2 / 3;
  }
  main .misc .links{
    display: flex;
    flex-direction: column;
    padding: 1rem;

    background-color: var(--accent);
  }
  main .misc .links div {
    display: flex;
    align-items: center;
  }
  main .misc .map {
    padding: 1rem;

    background-color: var(--html);
  }
  main .misc .map iframe {
    max-width: 100%;
  }


  main .kontakter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 2vw;
    padding-bottom: 5rem;
  }

  main .kontakter .rektorer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  main .kontakter .övriga {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    padding-block: 4vh;
    margin-inline: -3vw;

    font-size: large;

    background-color: var(--footer);
   }
   footer div h3 {
    color: #d6d4ce;
   }
   footer div p {
    color: #a8a59c;
   }

   @media (orientation: portrait) {
    #desktop-menu {
      display: none;
    }
    #mobile-menu {
      display: block;
      margin-right: 2rem;
    }
    main {
      background-color: var(--html);
    }
    main .info * {
      text-align: center;
    }
    main .buttons {
      flex-direction: column;
      margin-inline: 4vw;
    }
    main .buttons img {
      min-width: 100%;
    }
    main .media {
      display: grid;
    }
    main .video {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      margin-inline: 4vw;
    }
    main .misc {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      margin-inline: 4vw;
    }
    main .kontakter {
      text-align: center;
    }
    main .kontakter h2 {
      grid-column: 1 / 3;
    }
    main .kontakter .rektorer {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    main .kontakter .övriga {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
    footer {
      gap: 1vh;
      flex-direction: column;  
    }
    footer > * {
      margin-left: 20vw;
    }
    .subsite main {
      grid-area: 1 / 1 / 2 / 2;
    }
    .subsite main nav {
      display: none;
    }
    .subsite main div {
      
    }
  }


  .subsite picture img {
    cursor: pointer;
   }
  .subsite main {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    /* background-color: blue; */
  }
  .subsite h1 {
    padding: 1rem 2rem;
  }
  .subsite h2 {

  }
  .subsite h3 {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .subsite main nav {
    grid-area: 1 / 1 / 2 / 2;

    /* background-color: orange; */
  }
  
  .subsite main ol {
    list-style: none;
  }
  .subsite main li {
    align-content: center;
    min-height: 2em;
    padding-left: 1em;

    font-size: 2rem;
    font-weight: 400;

    border-bottom: rgba(112, 112, 112, 0.205) solid 1px;
  }

  .subsite main div {
    grid-area: 1 / 2 / 2 / 2;
    padding-left: 1em;

    /* background-color: red; */
  }
  .subsite section {
    padding: 0.5vw 2vw;
    margin-bottom: 2rem;
  }
  .subsite section ol {
    padding: 0;
    margin: 0;

    list-style:disc;
  }
  .subsite section li {
    padding: 0;
    margin: 0;

    font-size: 1.5rem;

    list-style:disc;
    border: none;
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  position: absolute;
  overflow: hidden;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  overflow: visible;

  width: auto;
  height: auto;
  margin: 0;

  clip: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  display: table;

  content: "";
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    color: #000 !important;
    text-shadow: none !important;

    background: #fff !important;
    /* Black prints faster */
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

